/* CONFIGURAÇÕES GERAIS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.nav {
    width: 100%;
    box-shadow: 4px 5px 10px rgba(0,0,0,.2);
    background-color: #f5f8fa;
}
header {
    background-color: #f5f8fa;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1230px;
}

.logo img {
    display: flex;
    width: 120px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #238EDE;
    font-size: 1.2em;
}

/* MAIN */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    color: #333;
}

button {
    background-color: #238EDE;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
    color: #fff;
}

.box-grande {
    border: 1px solid #fff;
    padding: 20px;
    margin: 20px 0;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 15px;
}

.campo {
    flex: 1;
}

.campo #nome {
    width: 100%; 
}

.campo #email {
    width: 100%; 
}

.campo #cargos {
    width: 100%; 
}

.campo #funcao {
    width: 100%; 
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

input[type="time"] {
    margin-bottom: 5px;
}

th {
    background-color: #238EDE;
    color: #fff;
}

.btn-editar, .btn-excluir {
    color: #238EDE;
    margin-right: 10px;
    text-decoration: none;
}

.btn-novo-colaborador {
    background-color: #238EDE;
    text-decoration: none;
    color: #fff;
    padding: 8px;
}

.btn-novo-colaborador:hover {
    background-color: #0056b3;
    color: #fff;
}

.btn-editar:hover, .btn-excluir:hover {
    color: #0056b3;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo para o checkbox não marcado */
input[type="checkbox"] {
    border: 2px solid #3498db;
    width: 20px;
    height: 20px;
}

/* Estilo para o checkbox marcado */
input[type="checkbox"]:checked {
    color: #3498db;
}

.pagination-container {
    text-align: center;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pagination li {
    margin-right: 5px;
}

.pagination a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination a.active {
    background-color: #0056b3;
}

.pagination a:hover {
    background-color: #0056b3;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    z-index: 1000;
}

h2 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.btn-remover,
.btn-cancelar {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-remover {
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
}

.btn-remover:hover {
    background-color: #0056b3;
}

.btn-cancelar {
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
}

.btn-cancelar:hover {
    background-color: #ce2f0f;
}

.btn-voltar {
    background-color: #3498db;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
}

.btn-voltar:hover {
    background-color: #0056b3;
}

#mensagem {
    color: red;
}

.mensagem-horarios {
    color: red;
}
